body {
    margin: 0 2rem;
    padding: 0;
    font-family: sans-serif;
    font-size: 25px;
    min-height: 100vh;
    background-color: white;
}
.container {
    padding: 0 15px;
  }
  
@media (min-width: 575.98px){
    .container {
      max-width: 540px;
      margin: auto;
      padding: 0;
    }
}
  
@media (min-width: 767.98px){
    .container {
      max-width: 720px;	
    }
}
  
@media (min-width: 991.98px) {
    .container {
      max-width: 960px;
    }
}
  
@media (min-width: 1199.98px){
    .container {
      max-width: 1200px;
    }
}
section{
    display: flex;
    flex-flow: row wrap;
    min-height: 100vh;
}
article {
    flex: 1;
    background-color: white;
}
.colomn1 {
    margin: 0 77px 0 104px;
    padding: 0;
}
.colomn2 {
    margin: 0 104px 0 0;
    padding: 0;
}
h6 {
    font-family: sans-serif;
    font-size: 25px;
    margin: 0; 
}
p {
    font-family: sans-serif;
    font-size: 20px; 
}
ul {
    padding: 0 15px;
}
li {
    font-family: sans-serif;
    font-size: 20px; 
}
.box3 li {
    padding: 5px 0;
}
li#education {
    list-style-type: none;
}
li#uni-year-top {
    margin: 15px 0 0 ;
}
li#skills {
    padding: 10px 0;
}
hr {
    margin: 1em 0;
}
.image {
    border-radius: 150px;
    width: 200px;
    margin: 2em 0 0 0;
}
#lang {
    margin: 15px 0 0 ;
}
.block2_box1 {
    height: 227px;
}
.block2_box1 h3 {
    padding: 10% 0 0 0;
}
.block2_box3 li {
    padding: 5px 0;
}
.block2_box3 #experience_none {
    list-style-type: none;
}